.bCHeader{
    background-size:cover;
    background-position: center;
    height: 50vh;
    position: relative;
    h1{
        margin: 0;
        position: absolute;
        bottom: -10%;
        left: 10%;
    }
}

