//who styles
.who{
    background-color: $white;
    .wrapper{
        display: flex;
    justify-content: flex-end;
    }
}

.whoContent{
    width: 60%;
    padding: 5%;
}


//middle nav styles
.midImg{
    background-image: url(../harper-assets/home-image-2.jpg);
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}
.midNav{
    background-color: $white;
}

.midNavContent{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin:0 auto;
    padding: 5% 0;
}

.photos,.midAbout,.midBlog,.midContact{
        width: calc((100% - 3%) / 2);
        display: flex;
        align-items: flex-start;
        a{
            background-color: $navColor;
            border-radius: 50%;
            padding: 2%;
            margin-right: 2%;
        } //a ends here
}

.photos,.midBlog{
    margin-right: 3%;
}

//about section
.about .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 7%;
    height: 120vh;
}

.ht,.ft{
    width: 38%;
}

.aboutImg1, .aboutImg2{
    width: 52%;
    position: relative;
}

.aboutImg1{
    top: -8%;
    box-shadow: -120px 20px $picBg2, 20px 20px $picBg2 ;
}

.aboutImg2{
    bottom: -5%;
    box-shadow: 120px 20px $navColor, 20px 20px $navColor;
}

//journey styles
.journey{
    background-color: $white;
    padding: 5% 0;
    .wrapper
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }
    
}

.journeyImg{
    width: 37%;
    img{
        box-shadow: 10px 10px $picBg1;
    }
}

.journeyPar{
    margin: 0 3%;
    width: 80%;
}

// gallery
.gallery .wrapper{
    padding: 5%;
    display: flex;
    justify-content: space-around;
    img{
        width: calc(90% / 3);
    }
}

