html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, li, button, .logo {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 {
  font-size: 80px;
  line-height: 92px;
}

h2, .logo {
  font-size: 42px;
}

h3 {
  font-size: 32px;
  margin: 0;
}

h4 {
  font-size: 24px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  font-size: 20px;
  text-align: right;
  line-height: 29px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #171717;
  font-size: 20px;
}

button {
  font-size: 20px;
  text-align: center;
  line-height: 32px;
  background-color: #F38D8D;
  border: none;
  padding: 1% 3%;
}

p {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  line-height: 32px;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.navBar {
  background-color: #B9DDE7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navBar nav {
  width: 25%;
}

.navBar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 5%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navBar .logo {
  padding: 2% 5%;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #171717;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #171717;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #171717;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #171717;
  opacity: 1;
}

form {
  width: 54%;
  margin-right: 8%;
}

form button {
  width: 100%;
  margin: 2% 0 15%;
}

input[type="text"],
input[type='email'],
textarea {
  border: none;
  padding: 4%;
  color: #171717;
}

input[type="text"],
input[type='email'] {
  width: 48%;
}

input[type="text"] {
  margin: 2% 1% 2% 0;
}

input[type="email"] {
  margin: 2% 0 2% 2%;
}

textarea {
  width: 100%;
}

.homeHeader {
  background-color: #B9DDE7;
}

.headerContent {
  position: relative;
  height: 70vh;
}

.headerContent img, .headerContent h1 {
  position: absolute;
}

.headerContent h1 {
  left: 50%;
  top: 15%;
}

.headerFace {
  width: 30%;
  left: 10%;
}

.title img {
  left: 66%;
  top: 20%;
  width: 8%;
}

.who {
  background-color: #F6F6F6;
}

.who .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.whoContent {
  width: 60%;
  padding: 5%;
}

.midNav {
  background-color: #F6F6F6;
}

.midNavContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
}

.photos, .midAbout, .midBlog, .midContact {
  width: calc((100% - 3%) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.photos a, .midAbout a, .midBlog a, .midContact a {
  background-color: #B9DDE7;
  border-radius: 50%;
  padding: 2%;
  margin-right: 2%;
}

.photos, .midBlog {
  margin-right: 3%;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 7%;
  height: 120vh;
}

.about .wrapper .ht, .about .wrapper .ft {
  width: 38%;
}

.about .wrapper .aboutImg1, .about .wrapper .aboutImg2 {
  width: 52%;
  position: relative;
}

.aboutImg1 {
  top: -8%;
  -webkit-box-shadow: -120px 20px #68B0C1, 20px 20px #68B0C1;
          box-shadow: -120px 20px #68B0C1, 20px 20px #68B0C1;
}

.aboutImg2 {
  bottom: -5%;
  -webkit-box-shadow: 120px 20px #B9DDE7, 20px 20px #B9DDE7;
          box-shadow: 120px 20px #B9DDE7, 20px 20px #B9DDE7;
}

.journey {
  background-color: #F6F6F6;
  padding: 5% 0;
}

.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

.journeyImg {
  width: 37%;
}

.journeyImg img {
  -webkit-box-shadow: 10px 10px #227284;
          box-shadow: 10px 10px #227284;
}

.journeyPar {
  margin: 0 3%;
  width: 80%;
}

.gallery .wrapper {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gallery .wrapper img {
  width: calc(90% / 3);
}

footer {
  background-color: #171717;
  color: #F6F6F6;
  text-align: center;
}

footer p {
  margin: 0;
}

aside {
  background: white;
}

.blogHeader {
  background-image: url("../harper-assets/blog-image-1.jpg");
  background-size: cover;
  height: 50vh;
  position: relative;
}

.blogHeader h1 {
  margin: 0;
  position: absolute;
  bottom: -10%;
  left: 10%;
}

.blogMain {
  background: #F6F6F6;
}

.blogMain .blogTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

.sideBar {
  width: 33%;
  margin-top: 2.5%;
}

.top {
  padding: 10%;
  margin-top: 8%;
}

.top a {
  color: #227284;
  font-weight: bold;
}

.bottom {
  padding: 5% 5% 10% 15%;
  margin-top: 8%;
}

.bottom ul li {
  list-style-type: disc;
  font-weight: normal;
  text-transform: none;
  text-align: left;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  line-height: 32px;
}

.blogContent {
  width: 60%;
  background: white;
  padding: 2%;
  margin: 5% 2%;
}

.blogContent, .daisy {
  border-bottom: 5px solid #227284;
}

.commentContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.maggie, .daisy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: white;
  padding: 2%;
  margin: 1% 8%;
  width: 54%;
}

.maggie p, .daisy p {
  width: 75%;
  margin-top: 0;
}

.imgDiv {
  width: 15%;
}

.blogForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
